<div>
  <article>
    <header>
      <h2>{{article.title}}</h2>
    </header>

    <p>{{article.content}}</p>
    <small>{{article.author.fullName}}</small>
    <small>{{article.date}}</small>

    <footer>
      <div>
        {{#if isAuthor}}
          <a href='/article/edit/{{article._id}}'>Edit &raquo;</a>
          <a href='/article/delete/{{article._id}}'>Delete &raquo;</a>
        {{/if}}
        <a href='/'>Back &raquo;</a>
      </div>
    </footer>
  </article>
</div>